<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/diaryCss.css">
	<link rel="stylesheet" href="bootstrap-4.4.1/css/bootstrap.css">
	<title>Scof_Diary</title>
</head>
<body>
	<nav>
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display 모바일로 보여지는 부분, CSS해야됨-->
			<a class="navbar-brand" href="main.html">SCOF</a>
			<button>
				Menu
				<i></i>
			</button>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div>
				<ul>
					<li>
						<a href="#">Month</a>
					</li>
					<li>
						<a href="#">Week</a>
					</li>
					<li>
						<a href="#">Day</a>
						<p> to-do list</p>
					</li>
					<li>
						<a href="#">Portfolio</a>
					</li>
					<li>
						<a href="#">Exercise</a>
					</li>
					<li>
						<a href="#">Movie</a>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->


		</div>
	</nav>>
	<section class="container">
		<div class="row">
			<div class="month col-lg-12">
				<ul>
					<li class="prev">&#10094;</li>
					<li class="next">&#10095;</li>
					<li>August<br><span style="font-size:18px">2017</span></li>
				</ul>
			</div>

			<ul class="weekdays col-lg-12">
				<li>Mo</li>
				<li>Tu</li>
				<li>We</li>
				<li>Th</li>
				<li>Fr</li>
				<li>Sa</li>
				<li>Su</li>
			</ul>

			<ul class="days col-lg-12">
				<li><a class="btn" href="#">1</a><div class="schedule"></div></li>
				<li><a class="btn" href="#">2</a><div class="schedule"></div></li>
				<li><a class="btn" href="#">3</a></li>
				<li><a class="btn" href="#">4</a></li>
				<li><a class="btn" href="#">5</a></li>
				<li><a class="btn" href="#">6</a></li>
				<li><a class="btn" href="#">7</a></li>
				<li><a class="btn" href="#">8</a></li>
				<li><a class="btn" href="#">9</a></li>
				<li><span class="active"><a class="btn" href="#">10</a></span></li>
				<li><a class="btn" href="#">11</a></li>
				<li><a class="btn" href="#">12</a></li>
				<li><a class="btn" href="#">13</a></li>
				<li><a class="btn" href="#">14</a></li>
				<li><a class="btn" href="#">15</a></li>
				<li><a class="btn" href="#">16</a></li>
				<li><a class="btn" href="#">17</a></li>
				<li><a class="btn" href="#">18</a></li>
				<li><a class="btn" href="#">19</a></li>
				<li><a class="btn" href="#">20</a></li>
				<li><a class="btn" href="#">21</a></li>
				<li><a class="btn" href="#">22</a></li>
				<li><a class="btn" href="#">23</a></li>
				<li><a class="btn" href="#">24</a></li>
				<li><a class="btn" href="#">25</a></li>
				<li><a class="btn" href="#">26</a></li>
				<li><a class="btn" href="#">27</a></li>
				<li><a class="btn" href="#">28</a></li>
				<li><a class="btn" href="#">29</a></li>
				<li><a class="btn" href="#">30</a></li>
				<li><a class="btn" href="#">31</a></li>
			</ul>
		</div>
	</section>
</body>
</html>